section{
  background: #E6FFEA;
  height: 100vh;
}
.auth--form{
    background: white;
    border-radius: 3px;
    /* padding: 110px 44px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.none__bg--border{
      background: none;
    border: none;
    outline: none;
}

.none__bg--border-active{
    border-bottom: 2px solid #6E41E2;
    padding-bottom: 10px;
}


.spinner-border {
  height: 1rem;
  width: 1rem;
  color: #fff !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
.spinner-border-my{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: .25em solid #2442ac;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
  height: 1rem;
  border-width: .2em;
}

.text-white{
  color:white;
}

.password-hint{
      color: red;
    display: block;
    font-size: 11px;
}
