<section class="d-flex row">
  <div class="col-md-6 align-self-center text-center">
    <div>
      <img src="assets/logo.svg" alt="seth logo">
    </div>
  </div>
  <div class="col-md-6 auth--form">

    <div class="col-9 d-flex flex-column justify-content-center">
      <h3>Change Password</h3>
      <ng-container>
        <form [formGroup]="changePasswordRestForm" (ngSubmit)="submitChangePassword()">

          <div class="mt-1">
            <div class="d-flex">
              <label>Email<span class="text-danger">*</span>
              </label>
            </div>
            <input formControlName="email" class="form-control form-control-sm" type="email">
          </div>

          <div class="mt-1">
            <div class="d-flex">
              <label>New Password<span class="text-danger">*</span>
              </label>
            </div>
            <input formControlName="password" class="form-control form-control-sm" type="password">
          </div>

          <div class="mt-1">
            <div class="d-flex">
              <label>Confirm Password<span class="text-danger">*</span>
              </label>
            </div>
            <input (keyup)="isPasswordValid()" formControlName="confirmPassword" class="form-control form-control-sm" type="password">
          </div>

          <div class="mt-3" *ngIf="!isvalid">
            <span style="color: red; font-weight: 600;">Passwords does not match.</span>
          </div>

          <div>
            <button class="btn mt-4 btn-primary" [disabled]="!isvalid || changePasswordRestForm.invalid">
              <span class="spinner-border spinner-border-sm text-white text-center mr-2" role="status"
                *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
              </span>
              Submit
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</section>
